body {
    font-family: 'Montserrat', sans-serif;
    /* Apply gradient background */
    background: linear-gradient(to bottom, rgba(240, 240, 240, 1), rgb(135, 206, 235) 70%);
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
  
    /* Remove default margin to ensure styles cover the entire viewport */
    @media (min-width: 768px) {
      .ReactModal__Content {
        width: 20%;
        height: 30%;
      }
    }
  }
  
  .readonly-input {
    background-color: rgb(151, 212, 240);
  }
  
  .swap-container{
    padding-top: 25px;  
  }
  
  
  button {
    &:hover {
      background-color: #FAF9F6  !important;
    }
  }
  
    .modal-section {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 100%;
  
      .modal-label {
        font-weight: bold;
        margin-left: -55px;
      }
  
      .modal-controls {
        display: flex;
        flex-wrap: wrap;
  
        .modal-button {
          margin: 0 10px;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #ddd;
          }
        }
  
        .modal-value {
          font-weight: bold;
          margin: 0 10px;
        }
      }
    }
  
  
    .modal-overlay {
      background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background for the modal overlay
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed; /* Ensure it covers the entire viewport */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    
    .modal-content {
      background-color: #87CEEB;
      border-radius: 10px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
      padding: 20px;
      width: 90%; // Adjust the width as needed
      max-width: 400px; // Limit the maximum width for smaller screens
      position: relative; /* Position relative to the parent */
      overflow: auto;
    }
    
    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      cursor: pointer;
    }
    
    .modal-title {
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center; /* Add this line to center the text */
    }
    
    .modal-controls > div {
      /* Ensure each control fits within the modal */
      width: calc(33.33% - 20px); /* Adjust as needed */
      margin-right: 20px;
      margin-bottom: 10px;
    }
    
    /* Media query for smaller screens */
    @media (max-width: 768px) {
      .modal-controls > div {
        width: calc(50% - 20px); /* Adjust as needed */
      }
    }