.body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #f0f0f0, #f8f598da 60%, #f8f598da 100%);
    width: 100vw;
    height: 100vh;
  }
  
  .icon-container {
    position: absolute;
    left: 42px;
    top: 12px;
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    padding: 20px;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 767px) {
    body {
      font-size: 14px;
    }
  
    .flex-container {
      flex-direction: column;
    }
  
    .content {
      width: 100%;
      padding: 10px;
    }
  
    .w-1-2 {
      width: 100%;
    }
  
    .w-1-3 {
      width: 100%;
    }
  
    .pl-10 {
      padding-left: 0;
    }
  }