.body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom,rgb(199, 201, 216),  rgba(63, 81, 181, 1)  20%, rgba(26, 35, 126, 1) 90%, );
  min-height: 100vh;
  margin: 0;
}

.main-container {
  background-color: transparent;
  padding: 20px;
  /* Add some padding for better spacing */
  margin: 0 auto;
  /* Center align the container */
  max-width: 100%;

}

/* Adjustments for small screens */
@media (max-width: 768px) {
  .grid-cols-1 {
      grid-template-columns: 1fr;
      /* Display one column on small screens */
  }

  /* Adjust the font size and padding for better mobile experience */
  .text-3xl {
      font-size: 2rem;
  }

  .px-4 {
      padding-left: 1rem;
      padding-right: 1rem;
  }

  .lg:text-left {
      text-align: center;
      /* Center align text on small screens */
  }
}

/* Styles for the footer */
.footer {
  background-color: transparent;
  padding: 20px;
  text-align: center;
}

/* Social media icons */
.footer a {
  margin-right: 10px;
}

/* Additional styles for the footer contact information */
.contact-info {
  text-align: center;
}

.contact-info span {
  display: block;
  margin-bottom: 10px;
}

/* Adjust styles for testimonial cards */
.testimonial-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}



/* Additional adjustments for testimonial cards on small screens */
@media (max-width: 768px) {
  .text-3xl {
      font-size: 2rem;
  }

  .px-4 {
      padding-left: 1rem;
      padding-right: 1rem;
  }

  .lg:text-left {
      text-align: center;
  }
}