.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: sticky;
  // z-index: 100;
  // top: 0;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  
  color: #007bff;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}