

.header {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 2px 14px;
  font-family: 'Montserrat', sans-serif;
  position: relative; 

}

.logoContainer {
  display: flex;
  align-items: center; }

.navLinks {
  display: flex;
  align-items: center; 
  justify-content: center; 
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  flex-grow: 1;}

.navLink,
.registerLogin .navLink {
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000 !important; 
  transition: all 0.3s ease;
}

.navLink:hover,
.registerLogin .navLink:hover {
  background-color: #4b7bec;
  color: #ffffff !important;
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.05);
  text-decoration: none;
}

.registerLogin {
  display: flex;
  align-items: center; 
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.registerLogin .navLink {
  color: #000 !important; }

.registerLogin .navLink:hover {
  color: #fff !important; 
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 12px;
  z-index: 1;
  white-space: nowrap; 
  @media (max-width: 768px) {
    position: static;
  }

}

.dropdown a {
  display: block ruby;
  padding: 10px;
  color: #000;
  text-decoration: none;
  text-align: -moz-left;
}

.dropdown a:hover {
  background-color: #4b7bec;
  color: #fff;
}